@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* html{
  font-size: 62.5%;
} */



body{
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; 
}


:root{
  --light-blue: #d8ecf7;
  --deep-blue: #014260;
  --medium-blue: #479fc7;
  --black: rgba(0, 0, 0, 0.562);
}


*{
  box-sizing: border-box;
  
}

/* Header container */

.Header-container{
  width: 100%;
  height: auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 2;
  /* padding: 1rem 0; */
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
 
  height: auto;
  
  margin-top: 10px;
  margin-bottom: 0;
z-index: 2;  
}

.header-content nav ul{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header-content li{
  list-style-type: none;
  /* margin-top: 20px; */
}

.header-content a{
  text-decoration: none;
  margin: 0 20px;
  color: rgb(48, 42, 42);
  font-size: 0.85rem;
}




.header-content img{
  margin-right: 20px;
  
}

.about-us{
  position: relative;
  transition: transform 1s;
  display: inline-block;
}



.about-us:hover{
  transform: translateY(2px);
  transform: scaleX(1.1);
  
}

.about-us2{
  position: relative;
  transition: transform 1s;
  display: inline-block;
}

.about-us2:hover{
  transform: translateY(2px);
  transform: scaleX(1.1);
}

.about-us:hover .drop-down-content{
  display: block;
  
}

.about-us2:hover .drop-down-content2{
  display: block;
  
}

.drop-down-content{
  
  display: none;
  position: absolute;
  z-index: 1;
  top: 25px; 
  left: 10px; 
  background-color: rgb(255, 255, 255);
  width: 250px;
  text-align: left;
 padding: 0.5rem 0;
}

.drop-down-content2{
  
  display: none;
  position: absolute;
  z-index: 1;
  top: 25px; 
  left: 10px; 
  background-color: rgb(255, 255, 255);
  width: 250px;
  text-align: left;
 padding: 0.5rem 0;
}


a[target="_blank"]{
  color: #000000;
font-size: 0.85rem;
font-weight: 500;

}

a[target="_blank"]:hover{
  color: var(--medium-blue);
}

a[target="_self"]{
  color: gray;
  font-size: 0.7rem;
}

.drop-down-content li{
  padding: 0;
  margin: 5px 15px;
  list-style-type: none;
}

.drop-down-content ul{
  margin: 0;
  display: block !important;
  padding: 0;
}

.drop-down-content a{
  margin: 0;
  display: block;
  padding: 0;

}

.drop-down-content2 img{
position: absolute;
left: 220px;



} 

.drop-down-content div{
  margin-top: 30px; 
}

.drop-down-content2 li{
  padding: 0;
  margin: 5px 15px;
  list-style-type: none;
}

.drop-down-content2 ul{
  margin: 0;
  display: block !important;
  padding: 0;
}

.drop-down-content2 a{
  margin: 0;
  display: block;
  padding: 0;

}

.drop-down-content2 img{
position: absolute;
right: 20px;


} 

.drop-down-content2 div{
  margin: 15px 0;
}



.about-us span{
  position: absolute;
  bottom: 1px;
  right: 0;
  font-size: 20px;
}

.about-us2 span{
  position: absolute;
  bottom: 1px;
  right: 0;
  font-size: 20px;
}

.flag{
  width: 25px;
  height: 20px;
  margin-left: 130px;
  margin-top: 40px;
  /* float: right; */

}

.fa-icon{
  display: none;
}

.nigeria{
  position: relative;
display: inline-block;
}

.nigeria:hover .nigeria-parts{
  display: block;
 
}

.nigeria-parts img{
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: 14px auto;
  
}


.nigeria-parts{
  display: none;
  position: absolute;
  left: 80px;
  height: 150px;
  width: 95px;
  z-index: 1;
  background-color: #fff;
}

/* End of the first Header-container */

.second-container{
  background-color: var(--light-blue);
  display: flex;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  /* height: 15%; */
}

.second-container p{
  color: rgba(0, 0, 0, 0.562);
  font-size: 0.84rem;
}

.second-container a{
  text-decoration: none;
  color: rgba(0, 0, 255, 0.438);
}

/* second-container div ends here */

.third-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
  
  
}

.third-container-content h1{
  white-space: nowrap;
  font-size: 2.7rem;
  color: var(--deep-blue);
  font-weight: 600;
}

.third-container-content h5{
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.562);
  font-size: 1rem;
  font-weight: 500;
  word-spacing: 0.4rem;
}

.third-container-img{
  position: relative;
 margin-left: 60px;
 margin-top: 80px;
  background-image: url('dots.svg');
  background-repeat: repeat-y;
  background-position-x: 15%;
  /* background-position-y: 40%; */
  height: 360px;

}

.third-container-img span{
  position: absolute;
  left: 300px;
  top: 140px;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  color: rgb(7, 7, 59);
  border-radius: 50%;
}


.min{
  width: 90%;
  float: right;
  z-index: 1;
  
}

.more{
  margin-left: 135px;
  color: var(--black);
  font-size: 1.1rem;
  position: relative;
}

.more img{
  position: absolute;
  left: 103px;
  top: 1px;
}

.tool-tip img{
width: 50px;
height: 50px;
border-radius: 50%;
position: fixed;
left: 20px;
}

.tool-tip{
  position: relative;
}

.tool-tip:hover .tool-tip-content{
  display: block;
}

.tool-tip-content{
  display: none;
background-color: rgb(53, 52, 52);
  position: absolute;
  top: 13px;
  font-size: 0.9rem;
  left: 80px;
  color: #fff;
}

/* Third container ends here */
.Fourth-container{
  margin-top: 150px;
  

}


.Fourth-container-header{
  display: block;
  margin: auto;
  text-align: center;
}

.Fourth-container-content{
  /* display: inline-flex; */
  margin-top: 80px;
  text-align: center;
  /* margin: auto; */
 justify-content: center;
  align-items: center;
display: flex;  


}

.Fourth-container-header h4{
  font-size: 1.1rem;
  color: rgba(65, 37, 37, 0.24);
  margin-bottom: -30px;
}


.Fourth-container-header h3{
  font-size: 2.3rem;
  color: var(--deep-blue);
 font-weight: 500;  
}

.Fourth-container-header h6{
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.534);
  font-size: 0.95rem;
  font-weight: 500;
}


.img-content{
  /* border: solid red; */
  width: 20%;
  box-shadow: 4px 10px 5px #f3f1f1;
  height: 300px;
}

.img-content2{
  /* border: solid red; */
  width: 20%;
  height: 300px;
  padding: 0;
  box-shadow: 4px 10px 5px #f3f1f1;
}


.img-content h3{
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.1;
  color: rgb(94, 93, 93);
}

.img-content2 h3{
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.1;
  color: rgb(94, 93, 93);
}


.img-content a{
  text-decoration: none;
  color: var(--medium-blue);
  display: inline-block;
  margin-top: 30px;

}

.img-content2 a{
  text-decoration: none;
  color: var(--medium-blue);
  display: inline-block;
  margin-top: 50px;

}


.Fourth-container-content img{
  width: 80%;
  height: auto;
 
}
/* Fourth-container ends here */

.fifth-container{
  background-color: #edf8fa;
  margin-top: 120px;
  height: 700px;

}



.fifth-container-content1{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 200px;
  
}

.fifth-container-content1 h2{
  color: var(--deep-blue);
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2;
  
}

.fifth-container-content1 p{
  color: #928d8d;
  margin-top: -30px;
}

.fifth-container-content1 button{
  background-color: var(--medium-blue);
  padding: 17px 40px;
  color: #fff;
  border: none;
}

.payment{
  margin-left: 50px;
}

.webicons{
  width: 28%;
  margin-bottom: -30px;
}


.fifth-container-content2 h2{
  color: var(--deep-blue);
  font-size: 2.3rem;
  margin-bottom: -13px;
  font-weight: 700;
}

.fifth-container-content2 p{
  color: #757272;
  line-height: 1.3;
  
}


.fifth-container-content2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 0 0 130px;
  
}

/* fifth-container ends here */

.sixth-container{
  width: 100%;
  margin-top: -30px;
  height: auto;
  color: #fff;
  background-image: url('bigimg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  padding-top: 5px;
}

.div1,
.div3{
  display: block;
  margin-left: 420px;
  margin-top: 100px;
  width: 60%;
  
}

.div1 h2{
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: -10px;
}

.div1 p{
  font-size: 1.2rem;
  color: #f3efefcc;
}

.div3 h2{
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: -10px;
}

.div3 p{
  font-size: 1.2rem;
  color: #f3efefcc;
}

.div2,
.div4 {
  display: block;
  margin-left: 52%;
  margin-top: 70px;
  width: 40%;
}


.div2 h2{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;

}

.div4 h2{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
padding-bottom: 100px;
}






/* sixth-container ends here */

.seventh-container{
  display: flex;
  justify-content: center;
  height: 600px;
}

.seventh-content{
  margin-top: 80px;
}

.seventh-content img{
  width: 80px;
  height: auto;
}

.seventh-content h3{
  font-size: 2.2rem;
  font-weight: 450;
  color: var(--deep-blue);
}

.seventh-content p{
  font-size: 1.1rem;
  color: #797575;
}

/* seventh-container ends here */

.eight-container{
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f5f7;
  height: 900px;
}

.eight-content1{
  width: 100%;
  height: auto;
  /* display: block; */
  animation: olawale 2s ease-in-out infinite;
  /* position: relative; */

  margin-top: 100px;
  margin-left: 150px;
}

@keyframes olawale{
  0% {
    transform: translateY(0px);
  }


  50%{
    transform: translateY(-30px);
  }


  100%{
    transform: translateY(0px);
  }
}


.eight-content2{
  margin-top: 200px;
  margin-right: 100px;
  width: 100%;
  
}

.eight-content2 h2{
  font-size: 2.2rem;
  color: var(--deep-blue);
}

.eight-content2 p{
  color: #797575;
}

.eight-content2 ul{
  padding: 0;
  margin: 0;
}

.eight-content2 li{
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  color: #504b99;
  font-size: 1rem;
}

.eight-content2 img{
  margin-right: 5px;
}
/* eight-container ends here */

.ninth-container{
  /* height: 200px; */
  width: 100%;
  padding: 0;
  height: auto;
  margin-top: 400px auto;
}

.ninth-content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  width: 80%;
  padding: 60px 250px;
  border-radius: 14px;
  background-color: var(--deep-blue);
  color: #fff;
}

.ninth-content h2{
 font-size: 2rem;
 font-weight: 670;
}


.btn1{
  background-color: var(--medium-blue);
  color: #fff;
  padding: 17px 38px;
  border: none;
  border-radius: 5px;
}

.btn2{
  background-color: var(--deep-blue);
  color: #fff;
  padding: 15px 38px;
  border: 2px solid #fff;
  border-radius: 4px;
  
}

/* ninth-container ends here */

.footer-section{
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-section ul{
  padding: 0;
  margin: 0;
}

.footer-section li{
  list-style-type: none;
  padding: 0;
  margin: 7px 0;;
}

.footer-section a{
  text-decoration: none;
  color: gray;
  font-size: 0.75rem;
}

.footer-content5 {
  display: inline-block;

}

.footer-content5 a{
position: relative;
bottom: 15px;
}

.footer-content5 img{
  width: 30px;
  height: 28px;
  margin-right: 7px;
  margin-top: 5px;
  border-radius: 5px;

}

/* footer-section ends here */

.line{
  width: 80%;
  height: 2px;
  background-color:rgba(128, 128, 128, 0.151);
  display: block;
  margin: 20px auto;
  /* margin-left: auto;
  margin-right: auto; */
}


.footer-section2{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 200px;
}

.footer-content1 h2{
  color: var(--deep-blue);
  font-size: 0.9rem;
  font-weight: 500;
  
}

.footer-content2 h2{
  color: var(--deep-blue);
  font-size: 0.9rem;
  font-weight: 500;
  
}

.footer-content3 h2{
  color: var(--deep-blue);
  font-size: 0.9rem;
  font-weight: 500;
  
}

.footer-content4 h2{
  color: var(--deep-blue);
  font-size: 0.9rem;
  font-weight: 500;
  
}

.footer-content5 h2{
  color: var(--deep-blue);
  font-size: 0.9rem;
  font-weight: 500;
  
}


.footer-content-2b {
  display: inline-block;
  margin-top: 14px;

}

.footer-content-2c {
  display: inline-block;
  margin-top: 14px;
}

.footer-content-2c h2{
  display: inline-block;
  margin: 14px auto;
}


.footer-section2 p{
  color: rgb(70, 67, 67);
  font-size: 0.9rem;
  margin-bottom: 30px;
  
}

.img2{
  width: 30px;
  position: relative;
  top: 10px;
}
.icons{
  margin-bottom: 90px;
}


.icons > i{
  font-size: 25px;
  color: var(--deep-blue);
  margin: 0 9px;
  cursor: pointer;
}



/* .fa-youtube,
.fa-square-twitter,
.fa-square-facebook,
.fa-linkedin */



@media (max-width: 600px){

 

}

@media (min-width: 320px) and (max-width: 600px)
{
  * {
    box-sizing: border-box;
    
  }
  
  body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .Header-container,
  .second-container,
  .third-container,
  .Fourth-container,
  .fifth-container,
  .sixth-container,
  .seventh-container,
  .eight-container,
  .ninth-container {
    width: 100%;
    padding: 1rem;
    margin: 0;
    overflow-x: hidden;
  }
  
  
  .Fourth-container-content,
  .fifth-container-content1,
  .fifth-container-content2 {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  
  
  .img-content,
  .img-content2 {
    width: 90%;
    margin: 1rem auto;
  }
  
  
  
  
  
  .Header-container{
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 4;
  }
  
  .fa-icon{
    display: flex;
   position: absolute;
   font-size: 25px;
   bottom: 20px;
   right: 15px;
  }
  
  .header-content nav ul{
          display: none;
          
      }
  
.header-content{
  padding: 1rem;
/* border: solid red; */

width: 100%;
}

      .header-content img{
        display: block;
        margin-top: 15px;
margin-right: 70%;
        }
  
        .nigeria{
          display: none;
        }
  /* First Header ends here */
        .second-container{
          text-align: center;
          width: 100%;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 100px;
        }
  
        .second-container p{
          font-size: 0.8rem;
        }
  
        /* Second container ends here */
  
        .third-container{
          flex-wrap: wrap;
          flex-direction: column;
          width: 100%;
        }
  
  
        .third-container h1{
          font-size: 1.6rem;
          /* margin-left: 1%; */
          line-height: 1;
          
          width: 100%; 
        }
  
        .third-container-img {
          order: 3; 
          margin: 0;
          background-image: none;
        width: 250px;
        display: flex;
        height: auto;
        }
      
        .min{
          max-width: 500px;
          /* height: auto; */
          object-fit: contain;
          border-radius: 10px;
          margin-right: 30%;
          top: 0;
          order: 3;
          position: relative;
          margin-bottom: 0;
        }
      
        .third-container-img span{
          position: absolute;
          left: 110px;
          top: 60px;
          font-size: 20px;
          z-index: 3;
          padding: 7px ;
          
        }





        .third-container-content h5{
          font-size: 0.6rem;
         
          color: #000;
         word-wrap: break-word;
        }
  
        .third-container-content {
          order: 1; 
          width: 100%;
        }
  
        
        /* third container ends here */
  
        .more {
           order: 2;
          margin-left: 5%;
          font-size: 0.8rem;
          /* display: block;
          width: 80%; */
  
         
        
        }
  
        .more img{
          left: 80px;
          top: 0;
          width: 15px;
          height: 20px;
        }
  
      

        .Fourth-container-content{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 20px;;
          width: 100%;
       }
  
       
       .Fourth-container-header h3{
          font-size: 1.8rem;
       }
  
       .img-content{
        width: 80%;
          height: 100%;
          flex-shrink: 1;
       }
  
       .img-content2{
          width: 80%;
          height: 100%;
       
       }
        /* fourth container ends here */
  
        .fifth-container{
          height: auto;
          width: 100%;
        }
  
  
  
        .fifth-container-content1{
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 40px 0 0 20px;
        }
  
        .fifth-container-content1 h2{
          font-size: 1.5rem;
      text-align: left;
      width: 90%; 
        }
  
        
        .fifth-container-content1 p{
          font-size: 0.9rem;
      margin-top: 5px;
      width: 90%; 
      margin-right: 0; 
        }
  
        .fifth-container-content1 button{
          margin-left: 0; 
          margin-top: 15px;
        }
  
        .fifth-container-content2{
          display: inline-block;
          width: 100%;
          text-align: center;
                }
  .fifth-container-content2 h2
  {
    font-size: 1.5rem;
  }
  
  .payment {
    margin-left: 0; 
    margin-top: 20px; 
  }
  
  /* fifth-container ends here */
       
  .div1,
  .div3{
    margin-left: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .div2,
  .div4{
    margin-left: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .div1 h2{
    font-size: 1.6rem;
    flex-wrap: wrap;
    
  }
  
  .div1 p{
    font-size: 0.8rem;
    flex-wrap: wrap;
    
  }
  
  .div2 h2{
    font-size: 1rem;
  }
  
  .div3 h2{
    font-size: 1.7rem;;
  }
  
  .div3 p{
    font-size: 0.8rem;
  }
  
  .div4 h2{
    font-size: 0.9rem;
  }
  
  /* End of the sixth container */
  
  .seventh-container{
    margin-left: 5px;
    width: 100%;
  }
  
  .seventh-content h3{
    font-size: 1.2rem;
  }
  
  .seventh-content p{
    font-size: 1rem;
  }
  
  /* End of the seventh container */
  
  .eight-container{
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 50px;
    width: 100%;
   height: auto;
   padding-bottom: 20px;
   overflow: hidden;
  }
  
  .eight-content1{
    animation: none;
    width: 100%;
    height: auto;
    z-index: 1;
    margin: 20px auto;
    display: block;
  }
  
  .eight-content1 img{
    width: 90%;

  }
  
  .eight-content2{
    font-size: 1.8rem;
    flex-wrap: wrap;
    margin-left: 6px;
    margin-top: 20px;
    width: 50%;
  }
  
  .eight-content2 p{
    font-size: 0.8rem;
    /* white-space: nowrap; */
word-wrap: break-word;
width: 250px;
  }

  .eight-content2 h2{
    font-size: 1.5rem;
    white-space: nowrap;
  }
  
  /* End of the eight container */
  


  .ninth-content {
    width: 90%;
    padding: 40px 20px;
  }
  
  .ninth-content h2 {
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .ninth-content p {
    font-size: 1rem;
    padding: 15px 10px;
    margin: 0 auto;
  }
  
  
  /* .btn{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */
  
  .btn1, .btn2 {
    display: inline-block;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
    width: auto;
  }
  
  .footer-section{
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .footer-section2{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
  
  .footer-section2 p{
    font-size: 0.8rem;
  }

.tool-tip img {
  width: 40px;
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 4;

  height: 50px;
}

}

@media (min-width: 400px) and (max-width: 600px){

  .third-container-img {
    display: flex;
    justify-content: center;
  }

  .min{
    width: 350px;
    max-width: 400px;
    margin: 0 auto;
  }

  .third-container-img span{
    left: 130px;
    top: 100px;
  }


} 

@media (min-width: 500px) and (max-width: 600px){

  .third-container{
    text-align: center;
  }


  .Fourth-container-content{
    display: flex;
    flex-direction: row;
  }

  .img-content{
    width: 40%;
  }

  .img-content2{
    width: 45%;
  }

  .fifth-container-content2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
  }

  .fifth-container-content2 div{
    width: 40%;
  }

  .seventh-container{
    text-align: center;
  }

  .eight-content1 img{
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  .footer-section{
    flex-direction: row;
  }

}

@media (min-width: 601px) and (max-width: 900px){

* {
  /* border: solid red; */
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}
  
  
  .Header-container{
    display: flex;
    height: 80px;
    z-index: 4;
    }
  
  .second-container,
  .third-container,
  .fifth-container,
  .sixth-container,
  .seventh-container,
  .eight-container,
  .ninth-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  
  }
  

  
  .Fourth-container-content,
  .fifth-container-content1,
  .fifth-container-content2 {
    width: 100%;
    margin: 0;
    padding: 1rem;
    flex-wrap: wrap;
    

  }
  
  
  .img-content,
  .img-content2 {
    width: 90%;
    margin: 1rem auto;
  }

.nigeria{
  display: none;
}

.header-content {
  margin-left: 15px;
}

.header-content nav ul{
 display: none;
}

.header-content img{
  margin-top: 0;
  height: 40px;
}


/* .Header-container{
  display: flex;  
  justify-content: baseline;


} */

.fa-icon{
  display: block ;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 20px;
}


.fa-bars{
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 30px;
}

.second-container{
  margin-top: 100px;
}

.second-container p{
  font-size: 0.9rem;
}


.third-container{
  margin: 0;
  display: block;
}

.third-container-content{
  display: block;
  /* margin-bottom: 100px; */
  text-align: center;
}


.third-container-content h1{
  font-size: 2rem;
  display: block;
  margin-left: 5px;
}

.third-container-content h5{
  /* white-space: nowrap; */
  display: block;
  font-size: 0.9rem;
  /* width: 100%; */
}

.third-container-img span{
position: absolute;
top: 150px;
z-index: 2;

padding: 5px;
margin-right: 30px;
}


.third-container-img{
  position: relative; 
  background-repeat: repeat-x;
  background-image: none;
  height: auto;
 margin: auto; 
 display: flex;
 max-width: 570px;
}

.min{
  object-fit: cover;
  margin-right: 100px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.more{
 right: 120px;
}

.Fourth-container-content{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.img-content{
  max-width: 270px;
}

.img-content2{
  max-width: 270px;
}

.img-content img{
  max-width: 300px;
  flex-direction: row; 
}

.fifth-container-content1{
  display: block;
}

.fifth-container-content1 h2{
  font-size: 1.7rem;
  margin-left: 50px;
  margin-bottom: 10px;
}

.payment{
margin-top: 30px;
}

.fifth-container-content2{
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
text-align: center;
}

.webicons{
  width: 80px;
}

.fifth-container-content2 h2{
  font-size: 1.4rem;
}

.fifth-container-content2 p{
  font-size: 0.9rem;
}

.sixth-container{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.div1,
.div3{
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.div2,
.div4{
  display: block;
  margin-left: auto;
  margin-right: 250px;
}

.div1 h2{
  font-size: 1.7rem;
  white-space: nowrap;
}

.div1 p{
  font-size: 0.9rem;
}

.div2 h2{
  font-size: 1.2rem;
  white-space: nowrap;
}

.div4 h2{
  font-size: 1.3rem;
  white-space: nowrap;
}

.div3 h2{
  font-size: 1.7rem;
  white-space: nowrap;
}

.seventh-container h3{
font-size: 1.9rem;

}

.seventh-content img{
  display: block;
  margin: auto;
}

.eight-container{
  display: flex;
flex-direction: column-reverse;
height: auto;
}


.eight-content1 img{
  width: 400px;
  position: relative;
  right: 50px;
top: 0;
}

.eight-content2{
  margin-top: 50px;
}


.more{
  display: block;
  margin-left: 20%;
}

.more p{
  display: block;
  margin-left: 5%;
}

.more img{
left: 130px;
}

.tool-tip img{
  bottom: 20px;
  z-index: 10;
}

.ninth-content{
  padding: 20px 20px;
}

.footer-section{
flex-direction: row;
flex-wrap: wrap;
}

.footer-section2{
  display: block;
}


}

@media (min-width: 768px) and (max-width: 900px){

  .Header-container{
    display: flex;
    height: 80px;
    z-index: 4;
    }


  .third-container-content{
    display: block;
    margin-top: 10px;
    margin-bottom: auto;
    width: 100%;
  }

  .third-container-content h1{
    margin-left: 10px;
    margin-top: 0;

  }

  .third-container-content h5 {
    margin-left: 10px;
    font-size: 0.9rem;
  }

  .third-container-img span{
    position: absolute;
    top: 150px;
    z-index: 2;
    
    padding: 5px;
    margin-right: 30px;
    }
    
    
    .third-container-img{
      position: relative; 
      background-repeat: repeat-x;
      background-image: none;
      height: auto;
     margin: auto; 
     display: flex;
     max-width: 570px;
    }
    
    .min{
      object-fit: cover;
      margin-right: 100px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

  .more img{
    left: 140px
  }

  .fifth-container-content2 {
    text-align: center;
  }

  .eight-container{
    display: flex;
    flex-direction: row;
  }

  .eight-content2{
margin-top: 0;
  }

  .footer-section2{
    display: block;
    margin-bottom: 10px;
  }


}

@media (min-width: 901px) and (max-width: 1350px){
  body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
  
  .Header-container,
  .second-container,
  .third-container,
  .Fourth-container,
  .fifth-container,
  .sixth-container,
  .seventh-container,
  .eight-container,
  .ninth-container {
    width: 100%;
    padding: 1rem;
    margin: 0;
    overflow-x: hidden;
  }
  
  
  .Fourth-container-content,
  .fifth-container-content1,
  .fifth-container-content2 {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  
  
  .img-content,
  .img-content2 {
    width: 90%;
    margin: 1rem auto;
  }
  
  .fa-icon{
    display: none;
  }
  
.Header-container{
  display: flex;
}

.header-content img{
  margin-top: 10px;
  height: 50px;
}

  .header-content{
    text-align-last: center;
    margin: 0 20px;
    display: block;
    height: 80px;
  }

  .header-content nav{
    display: none;
  }
  
.fa-icon{
  display: block;
  
}

.fa-icon {
 top: 30px;
 font-size: 35px;
  position: absolute;
  right: 30px;
}

.flag{
  display: none;
}

.second-container{
  margin-top: 100px;
}

.second-container p{
  font-size: 1rem;
}


.third-container{
  display: flex;
  justify-content: space-between;
}

.third-container-content{
  margin: 0 20px;
}

.third-container-content h1{
  line-height: 1;
}

.third-container-content h5{
  line-height: 1;
}

.third-container-img{
  max-width: 100%;
  height: auto;
position: relative;
margin: 20px auto;
}

.min{
  object-fit: cover;
  height: 100%;
  width: 390px;
  border-radius: 10px;
}

.third-container-img span{
  position: absolute;
  top: 110px;
  left: 200px;
}

.more{
  right: 120px;
}

.div1, .div3{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.div1 h2{
  font-size: 1.8rem;
}


.div3 h2{
  font-size: 1.8rem;
  
}

.div3 p{
  display: block;
  width: 100%;
  white-space: nowrap;
}

.div2 h2{
  white-space: nowrap;
  font-size: 1.5rem;
  display: block;
  margin-right: auto;
 }


.div4 h2{
 white-space: nowrap;
 font-size: 1.5rem;
 display: flex;
 justify-content: end;
}

.div2{
  display: flex;
  justify-content: end;
}



.fifth-container-content2{
  text-align: center;
}


.webicons{
  width: 35%;
}


img[alt="cards"]{
  margin-bottom: -45px;
}

.eight-content2 h2{
  white-space: nowrap;
  
}

.eight-content2{
  
  margin-left: 50px;
}

.ninth-content{
  padding: 30px 70px;
}

.footer-section{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}


.ninth-content{
  width: 90%;
  padding: 40px 20px;
}

.ninth-content h2{
white-space: nowrap;
}

}  


@media (min-width: 1100px) and (max-width: 1350px){
  .min{
    width: 590px;
  }

.third-container-img span{
  left: 300px;
  top: 170px;
}

}



/* @media (min-width: 768px) and (max-width: 1023px){

  body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .Header-container,
  .second-container,
  .third-container,
  .Fourth-container,
  .fifth-container,
  .sixth-container,
  .seventh-container,
  .eight-container,
  .ninth-container {
    width: 100%;
    padding: 1rem;
    margin: 0;
    overflow-x: hidden;
  }
  
  
  .Fourth-container-content,
  .fifth-container-content1,
  .fifth-container-content2 {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  
  
  .img-content,
  .img-content2 {
    width: 90%;
    margin: 1rem auto;
  }

 .header-content nav ul{
   display: none;
 } 

 .header-content img{
 
 height: 30px;
 }

 

.nigeria{
  display: none;
}

.Header-container{
  display: flex;
  
  justify-content: baseline;
  

}
.fa-icon{
  display: block ;
  margin-left: auto;
  margin-top: 35px;
}


.fa-bars{
  font-size: 25px;
}

.second-container{
  margin-top: 100px;
}

.second-container p{
  font-size: 1.2rem;
}



.third-container-content h1{
  font-size: 2.3rem;
}

.third-container-content h5{
  font-size: 1.1rem;
  white-space: pre-wrap;
  width: 400px;
 
}

.third-container-img{
  position: relative;
  max-width: 300px;
  height: auto;
  margin-bottom: 200px;
  background-image: none;
}


.third-container-img span{
  position: absolute;
  top: 70px;
  left: 80px;

}

.min{
 margin-right: 80px;
 object-fit: contain;
 
}

.more{
  display: block;
  margin-right: auto;

}

.img-content a{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-content2 a{
  display: flex;
  justify-content: center;
  align-self: baseline;
}


.fifth-container-content1 h2{
  font-size: 1.7rem;
}

.fifth-container-content2{
  
  align-items: baseline;
}

.fifth-container-content2 h2{
  font-size: 1.5rem;
}

.webicons{
  width: 50%;
  height: auto;
}

.div1, .div3{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.div1, .div3 h2{
  font-size: 1.8rem;
  
}

.div2{
  margin-right: 100px;

}


.eight-content2{
  width: 80%;
  margin-left: 80px;
  margin-right: auto;
  
}

.eight-content1{
  width: 100%;
  order: 1;
  
  margin-left: auto;
}

.eight-content1 img{
  width: 90%;
  margin-top: 100px;
  top: 0;
}


.ninth-content {
  width: 90%;
  padding: 40px 20px;
}

.ninth-content h2 {
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 0 10px;
}

.ninth-content p {
  font-size: 1rem;
  padding: 15px 10px;
  margin: 0 auto;
}




.btn1, .btn2 {
  display: inline-block;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  width: auto;
}

.footer-section{
  flex-wrap: wrap;
  justify-content: space-evenly;
}






} */
